@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

:root {
  --color-white-70:rgba(255, 255, 255, 0.70);
  --color-white-solid: #FFF;
  --color-orange-55: #CE9E4A;
  --color-grey-89: #E3E3E3;
 --color-grey-85: #DADADA;
  --color-grey-7:131313;
  --color-black-solid:#000;
  --color-grey-8987: rgba(227, 227, 227, 0.87);
}

$screens:(
    sm:570px,
    md:720px,
    lg:980px,
);
@each $screen, $width in $screens{
    @media screen and (min-width:$width) {
        @for $col from 1 through 12 {
            .col-#{$screen}-#{$col}{
                padding-left: 16px;
                padding-right: 16px;
                width: calc(100% / 12 * $col);
            }
        }
        
    }
}

@mixin properties($color, $fontfamily, $fontsize, $fontweight) {
  color: $color;
  font-family: $fontfamily;
  font-size: $fontsize;
  font-weight: $fontweight;
}
@mixin contentposition($display, $alignitems, $justifycontent){
  display:$display;
  align-items: $alignitems;
  justify-content: $justifycontent;
}
/*----------HEADER---------------*/
.header {
  padding: 16px 80px;
  position: fixed;
  right: 0;
  left: 0;
}

.d-flex {
  @include contentposition(flex,center ,space-between );
}

.header-ul {
  list-style: none;
  gap: 16px;
  @include contentposition(flex,center ,0 );
}

.sign {
  gap: 16px;
  @include contentposition(flex,center ,start );
}

.header-ul li .header-ancor {
  @include properties(var(--color-white-70), Montserrat, 18px, 400);
}
/**/
.hero{
   background-image: url("../imgs/backg.png"),url("../imgs/Overlay.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 200px 0 200px 0;
}
h1{
    @include properties(var(--color-white-solid), Montserrat, 72px, 700);
    text-align: center;
}

.span-hero{
   @include properties(var(--color-orange-55), Montserrat, 18px, 600);
   text-align: center;
}
.para-hero{
   @include properties(var(--color-grey-89), Montserrat, 20px, 400);
   text-align: center;
}
.start{
  border-radius: 4px;
  background: var(--color-grey-7, #131313);
  box-shadow: 0 0 0 1px #FFF inset;
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  @include properties(var(--color-white-solid), Montserrat, 16px, 400);
  text-align: center;
}
.join{
  border-radius: 4px;
background: var(--color-white-solid, #FFF);
box-shadow: 0 0 0 0 #131313 inset;
display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  @include properties(var(--color-grey-7), Montserrat, 16px, 500);
  text-align: center;
}
.hero-anchors{
  @include contentposition(flex,center ,center );
  gap: 24px;
}
.hero-content{
   @include contentposition(flex,center ,center );
   flex-direction: column;
   gap: 40px;
   
}
/**/
.service-sec {
  background: var(--color-black-solid, #000);
  background-image: url("../imgs/pic1.jpg");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: left top;
}

.ourserviceheading{
 @include properties(var(--color-white-solid), Montserrat, 48px, 700);
}
.para-service{
     @include properties(var(--color-white-solid), Montserrat, 18px, 400);

}
.ul-service{
  list-style: none;
  @include contentposition(flex,start ,center );
  flex-direction: column;
  gap: 32px;
  padding: 44px 0;
}
.one-serve{
   @include contentposition(flex,center ,start );
  gap: 18px;
}
.lets{
  border-radius: 4px;
  background: var(--color-white-solid, #FFF);
  box-shadow: 0 0 0 0 #FFF inset;
  padding: 16px 24px;
  @include properties(var(--color-black-solid), Montserrat, 16px, 500);

}
.btn-lets{
  padding-top: 80px;
}
.alignitems{
  @include contentposition(flex,center ,start );
}
.padding{
  padding: 80px 0 80px 40px;
}

.nameofserve{
   @include properties(var(--color-white-solid), Montserrat, 24px, 600);
}
.discofserve{
   @include properties(var( --color-grey-8987), Montserrat, 18px, 400);
}
.head-service{
  @include contentposition(flex,start ,0 );
  flex-direction: column;
  gap:10px ;
}
/**/
.partner-heading{
  @include properties(var(--color-black-solid), Montserrat, 32px, 600);
  @include contentposition(flex,center ,center );
}
.gap-32{
  @include contentposition(flex,space-between ,center );
  gap: 32px;
  flex-direction: column;
}
.partners{
  padding: 48px 0px;
}
/**/
.Trusted{
  background: var(--color-black-solid, #000);
  padding: 100px 0 99.6px 0;
}
.Trusted-heading{
    @include properties(var(--color-orange-55), Montserrat, 48px, 700);

}
.Trusted-para{
    @include properties(var(--color-white-solid), Montserrat, 16px, 400);

}
.Trusted-para-2{
      @include properties(var(--color-white-solid), Montserrat, 12px, 400);

}
.center{
    @include contentposition(flex,center ,center );
    flex-direction: column;
    gap: 15px;
}
.gap-48{
   @include contentposition(flex,center ,center );
   gap: 48px;
   padding: 24px 0px;
}
/**/
.goals{
  background: var(--color-black-solid, #000);
  padding: 100px 0;
}
.title-goal{
  @include properties(var(--color-white-solid), Montserrat, 24px, 600);
   @include contentposition(flex,center ,center );
}
.para-goal{
  @include properties(var(--color-white-solid), Montserrat, 18px, 400);
   @include contentposition(flex,center ,center );
}
.somegoalsitem{
   @include contentposition(flex,center ,center );
   gap: 10px;
   flex-direction: column;
}
.content-somegoals{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/**/
.ourLearning{
  padding: 100px 100px ;
  background: var(--color-black-solid, #000);
}
.heading-learning{
  @include properties(var(--color-grey-89), Montserrat,  48px, 700);
}
.para-learning{
  @include properties(var(--color-grey-89), Montserrat,  18px, 400);

}
.learning-head{
   @include contentposition(flex,start ,0 );
   gap: 10px;
   flex-direction: column;
   padding-bottom: 22px;
}

.ourlearningitem{
   @include contentposition(flex,0 ,0 );
   gap: 18px;
   flex-direction: column;
}
.ourlearn-img{
  overflow: hidden;
   
}
.ourlearn-img img{
  display: block;
  width: 100%;
}
.title-learn{
    @include properties(var(--color-grey-89), Montserrat,  20px, 600);
    border-radius: 1px;
    padding: 6px 16px;
    background: var(--color-grey-9210, rgba(246, 237, 221, 0.10));
}
.para-learn{
  @include properties(var(--color-grey-89), Montserrat,  16px, 400);

}
.upcoming-link{
  @include properties(var(--color-orange-55), Montserrat,  16px, 500);

}
.gap-16{
   @include contentposition(flex,0 ,0 );
   gap: 16px;
   flex-direction: column;
}
.explore-name{
     @include properties(var(--color-white-solid), Montserrat, 24px, 600);

}
.Questions{
  padding: 100px 0;
  background: var(--color-black-solid, #000);
}
.heading-Questions{
  @include properties(var(--color-grey-89), Montserrat,  48px, 700);
  text-align: center;
}
.para-Questions{
  @include properties(var(--color-grey-89), Montserrat,  18px, 400);
 text-align: center;
}
.para-li{
  @include properties(var(--color-grey-89), Montserrat, 20px, 600);
  border-top: var(--stroke-weight-1, 1px) solid var(--color-grey-9220, rgba(246, 237, 221, 0.20));
  padding: 20px 0;
}
.gap-15{
   @include contentposition(flex,center ,center );
   gap: 15px;
   flex-direction: column;
}
.gap-ul-32{
  @include contentposition(flex,center ,center );
   gap: 32px;
   flex-direction: column;
}
.btn-start-with{
   border-radius: 4px;
  background: var(--color-grey-7, #131313);
  box-shadow: 0 0 0 1px #FFF inset;
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  @include properties(var(--color-white-solid), Montserrat, 16px, 400);
  text-align: center;
}

/*----------footer--------*/
footer{
  background: var(--color-black-solid, #000);
}
.top-footer{
    padding: 64px 0 20px 0;
  }
h4{
     @include properties(var(--color-white-solid), Montserrat, 16px, 600);
}
.para-foot{
    text-align: justify;
    @include properties(var(--color-grey-85),Montserrat ,16px , 400);
}
.list-footer{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.list-footer li a{
    text-decoration: none;
    @include properties(var(--color-grey-85),Montserrat ,16px , 400);
}
.d-flex-foot{
  @include contentposition(flex,start ,space-between);

}
.d-flex-footer{
  @include contentposition(flex,start ,start);

}
.item-foot{
    display: flex;
    flex-direction: column;
    gap:27px;
}
.buttom-footer{
    @include contentposition(flex,start ,space-between);
    padding: 21px;
}
.buttom-footer p{
    @include properties(var(--color-grey-85),Montserrat ,16px , 400);
}

/*-------service*/
.why-partner{
  padding-top: 100px;
  background: var(--color-black-solid, #000);

}
.why-head{
  @include contentposition(flex,center ,center);
  flex-direction: column;
  gap: 10px;

}
.why-content{
  @include contentposition(flex,center ,center);
  flex-direction: column;
  gap: 10px;
}
.why-content h3{
    @include properties(var(--color-grey-89),Montserrat ,32px , 600);

}

.why-content p{
    @include properties(var(--color-grey-89),Montserrat ,16px , 400);

}
.why-img{
  overflow: hidden;
}
.why-img img{
  object-fit: contain;
  width: 80px;
  height: 80px;
  border-radius: 8px;
background: var(--color-white-15, rgba(255, 255, 255, 0.15));
}
.why-item{
   @include contentposition(flex,center ,center);
  flex-direction: column;
  gap: 16px;
}
.gap-48px{
   @include contentposition(flex,center ,center);
  flex-direction: column;
  gap: 48px;
}
/**/
.discover-service{
   padding-top: 100px;
  background: var(--color-black-solid, #000);
}
.discover-content{
  @include contentposition(flex,start ,center);
  flex-direction: column;
  gap: 15px;
}
.discover-content-head{
  @include contentposition(flex,start ,center);
  flex-direction: column;
  gap: 12px;
}
.discover-content-buttom{
  @include contentposition(flex,start ,center);
  flex-direction: column;
  gap: 15px;
}
.discover-content-head h3{
  @include properties(var(--color-orange-55), Montserrat, 32px, 700);

}
.discover-service-span{
    @include properties(var(--color-white-solid), Montserrat, 20px, 600);

}
.list-goals{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.list-goals li{
  @include properties(var(--color-white-solid), Montserrat, 16px, 400);

}
.book-free{
    @include properties(var(--color-black-solid), Montserrat, 16px, 500);
    border-radius: 4px;
    background: var(--color-white-solid, #FFF);
    box-shadow: 0 0 0 0 #FFF inset;
    padding: 16px 24px;
    @include contentposition(flex,center ,center);
    gap: 8px;
    max-width: 339px;
}
.gap-48col{
  display: flex;
  flex-direction: column;
  gap: 48px;
}
/**/
.card-whatbuild{
  @include contentposition(flex,center ,center);
  gap: 12px;
  flex-direction: column;

}
.whybuild-head{
   @include contentposition(flex,center ,center);
    gap: 12px;
    flex-direction: column;
}